<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Yet another framework</title>
  <meta name="description" content="Yet another framework">
  <meta name="author" content="Leonardo Pereira">
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <script type="text/javascript" src="/javascripts/util.js"></script>
</head>

<body>
  <h1>Node MVC Framework</h1>
  <ul>
    <li><a href="/">Home Page</a></li>
    <li id="target" ><a href="/posts">Posts</a></li>
  </ul>

  <% if (flash.success) { %>
    <div class="success"><%- flash.success %></div>
  <% } %>
  <% if (flash.error) { %>
    <div class="alert"><%- flash.error %></div>
  <% } %>

  <%- template %>
</body>

</html>