<form method="POST" action="/posts">
    <label>
      Title <input type="text" name="title" />
    </label>
    <br />
    <label>
      Content<br />
      <textarea name="content"></textarea>
    </label>
    <br />
    <input type="submit" value="Create new post" />
</form>